body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px; margin-top: 20px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 868px) {
  .column {
    width: 45%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.dot {
	align-right:4px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Thick red border */
hr.new4 {
  border: 2px solid #33ccff;
}

.flip-card {
  border-radius: 15px 50px 30px;
  background-color: transparent;
  width: 98%;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
	border-radius: 15px 50px 30px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 linear-gradient(to top right, #33ccff 0%, #ff66ff 100%);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	border-radius: 15px 50px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
	border-radius: 15px 50px 30px;
  background-color: #bbb;
  color: black;
}

.flip-card-back {
	border-radius: 15px 50px 30px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  color: white;
  transform: rotateY(180deg);
}