body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px; margin-top: 20px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 868px) {
  .column {
    width: 45%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.dot {
	align-right:4px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Thick red border */
hr.new4 {
  border: 2px solid #33ccff;
}

h4{
	color: dodgerblue;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	font: italic bold 12px/30px Georgia, serif;
}

p{
	font-size: 22px;
}

span{
	font-size: 22px;
}

/* button */
.button {
	border-radius: 4px;
  background : linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  width: 22%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.8s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Responsive button */
@media screen and (max-width: 868px) {
  .button{
	  border-radius: 4px;
  background : linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  width: 44%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }
}
@media screen and (max-width: 700px) {
  .button{
	  border-radius: 4px;
  background : linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  width: 62%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.flip-card {
  border-radius: 15px 50px 30px;
  background-color: transparent;
  width: 98%;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
	border-radius: 15px 50px 30px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 linear-gradient(to top right, #33ccff 0%, #ff66ff 100%);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	border-radius: 15px 50px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
	border-radius: 15px 50px 30px;
  background-color: #bbb;
  color: black;
}

.flip-card-back {
	border-radius: 15px 50px 30px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  color: white;
  transform: rotateY(180deg);
}